#jinja2: trim_blocks:True, lstrip_blocks:True
{{ ansible_managed | comment }}
# Reusable TLS best-practice snippet — include inside a TLS server{} block.

ssl_protocols              {{ rp_ssl_protocols }};
ssl_ciphers                {{ rp_ssl_ciphers }};
ssl_prefer_server_ciphers  {{ rp_ssl_prefer_server_ciphers }};
ssl_session_cache          {{ rp_ssl_session_cache }};
ssl_session_timeout        {{ rp_ssl_session_timeout }};
ssl_session_tickets        {{ rp_ssl_session_tickets }};
{% if rp_ssl_dhparam | length %}
ssl_dhparam                {{ rp_ssl_dhparam }};
{% endif %}
{% if rp_ssl_stapling == 'on' %}
ssl_stapling               on;
ssl_stapling_verify        on;
{% endif %}
