[
    {rabbit,[
            {tcp_listeners,               [5672]},
            {collect_statistics_interval, 5000},
            {heartbeat, 15},
            {vm_memory_high_watermark,0.8}
        ]},
    {rabbitmq_management,[
            % for first load
            % {load_definitions, "/etc/rabbitmq/rabbitmq-base-objects.json"},
            {rates_mode,    global}
        ] }
].
