[
{corezoid_queues_gc, [
      {disabled, false},
      {host, "{{ rmq[0].host }}"},
      {port, 15672},
      {vhost, "{{ rmq_vhost }}"},
      {login, "conveyor_gc"},
      {password, "{{ rmq[0].pass }}"},
      {gc_queues_regexp, [
        "{{ wc_rmq_gc_queues_regexp }}"
      ]}
  ]},
  {is_ready, [
          {port, {{ wc_is_ready_port }}},
          {enabled, true}
  ]},
  {kernel, [
    {inet_dist_listen_min, {{ wc_cluster_port }}},
    {inet_dist_listen_max, {{ wc_cluster_port }}}
  ]},

  {worker_converter, [
    {memory_limit, {{ wc_memory_limit }}},%%limit size of memory in bytes.
    {workers_list,
      [
        [
          {consumer, [
            {host, '{{ rmq[0].host }}'},
            {port, {{ rmq[0].port }}},
            {exchange, <<"{{ wc_rmq_exchange }}">>},
            {queue, <<"{{ wc_rmq_queue_name }}{% raw %}{{=i}}{% endraw %}">>},
            {queues_count, {{ wc_rmq_queues_count }}},
            {username, <<"{{ rmq[0].user }}">>},
            {password, <<"{{ rmq[0].pass }}">>},
            {vhost, <<"{{ rmq_vhost }}">>},
            {connections_per_queue, {{ wc_rmq_connections_per_queue }}},
            {channels_per_connection, {{ wc_rmq_channels_per_connection }}},
            {messages_prefetch_size_per_channel, {{ wc_rmq_messages_prefetch }}}
          ]},

            {positive_filter_data,
            [{<<"conv_id">>, [
{% for conv_id in wc_positive_filter_conv_ids %}
            {eq, <<"{{ conv_id }}">>}{% if not loop.last %},{% endif %}

{% endfor %}
            ]}]
            },

          {producer_elasticsearch2,
            [
              {url, ["{{ wc_es_url }}"]},
              {index_template, "{{ wc_es_index_template }}"}, {{ '%%{{conv_id}}' }}
              {thread_count, {{ wc_es_thread_count }}},
              {elastic_timeout, {{ wc_es_timeout }}}, %% wait in seconds reponse from elastic

              {interval_checking_buffer, {{ wc_es_interval_checking_buffer }}},
              {elastic_index_mapping, %mapping options for doc during create index
                [{mappings, [{properties,

                  [
                    {<<"conv_id">>, [{<<"type">>, <<"integer">>}]},
                    {<<"task_id">>, [{<<"type">>, <<"text">>}]},
                    {<<"data">>, [{<<"type">>, <<"text">>}]},
                    {<<"create_time">>, [{<<"type">>, <<"text">>}]},
                    {<<"node_id">>, [{<<"type">>, <<"text">>}]}
                  ]

                }]

                }]
              },

              {bulk_send_after_time, {{ wc_es_bulk_send_after_time }}}, %% in seconds
              {buld_send_after_count_messages, {{ wc_es_bulk_count }}}
            ]

          },
          {producer_backend, [elasticsearch2]},
          {extra_data, []}
        ]
      ]}
  ]
  },

  {lager, [
    %% What handlers to install with what arguments


    {handlers, [
      {lager_console_backend, [{level, {{ lager_console_backend }}}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}, {size, {{ lager_error_size }}}, {date, "$D0"}, {count, {{ lager_error_count }}}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}, {size, {{ lager_info_size }}}, {date, "$D0"}, {count, {{ lager_info_count }}}]}
     %% {lager_file_backend, [{file, "debug.log"}, {level, debug}, {size, {{ lager_info_size }}}, {date, "$D0"}, {count, 6}]}
    ]},

    %% What colors to use with what log levels
    {colored, true},
    {colors, [
      {debug, "\e[0;38m"},
      {info, "\e[1;37m"},
      {notice, "\e[1;36m"},
      {warning, "\e[1;33m"},
      {error, "\e[1;31m"},
      {critical, "\e[1;35m"},
      {alert, "\e[1;44m"},
      {emergency, "\e[1;41m"}
    ]}
    ,

    %% Whether to write a crash log, and where. Undefined means no crash logger.
    {crash_log, "log/crash.log"},
    %% Maximum size in bytes of events in the crash log - defaults to 65536
    {crash_log_msg_size, 65536},
    %% Maximum size of the crash log in bytes, before its rotated, set
    %% to 0 to disable rotation - default is 0
    {crash_log_size, {{ lager_crash_size }}},
    %% What time to rotate the crash log - default is no time
    %% rotation. See the README for a description of this format.
    {crash_log_date, "$D0"},
    %% Number of rotated crash logs to keep, 0 means keep only the
    %% current one - default is 0
    {crash_log_count, {{ lager_crash_count }}},
    %% Whether to redirect error_logger messages into lager - defaults to true
    {error_logger_redirect, {{ lager_error_logger_redirect }}},
    %% How many messages per second to allow from error_logger before we start dropping them
    {error_logger_hwm, {{ lager_error_logger_hwm }}},
    %% How big the gen_event mailbox can get before it is switched into sync mode
    {async_threshold, {{ lager_async_threshold }}},
    %% Switch back to async mode, when gen_event mailbox size decrease from `async_threshold'
    %% to async_threshold - async_threshold_window
    {async_threshold_window, {{ lager_async_threshold_window }}}
  ]}

].
