[corezoid-worker-converter]
name=Corezoid Worker Converter
{% if ansible_distribution == "Amazon" %}
baseurl=https://repo.middleware.biz/worker-converter/amazon2023/arm64
{% else %}
baseurl=https://repo.middleware.biz/worker-converter/el9
{% endif %}
enabled=1
gpgcheck=1
gpgkey=https://repo.middleware.biz/corezoid/RPM-GPG-KEY-Middleware
priority=5
