[Unit]
Description=Prolog open api
Wants=network.target
After=network.target
After=epmd.service
Requires=epmd.service

[Service]
Type=simple
WorkingDirectory={{ work_dir }}/erlang/eprolog/bin
Environment=CONFIG_PATH={{ work_dir }}/conf/eprolog.config
Environment=APPDIR={{ work_dir }}/erlang/eprolog
Environment=HOME={{ work_dir }}/erlang/eprolog
Environment=PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/app-user/.local/bin:/home/app-user/bin
ExecStartPre=/bin/sleep 15
ExecStart={{ work_dir }}/erlang/eprolog/bin/eprolog_3 start
Restart=always
User={{ work_user }}

[Install]
WantedBy=multi-user.target