#!/usr/bin/env python
# -*- coding: utf-8 -*-
import cmd
import os

class Cli(cmd.Cmd):

    def __init__(self):
        cmd.Cmd.__init__(self)
        self.prompt = "> "
        self.intro  = "Welcome!\nPrint 'help'"
        self.doc_header ="Available commands (for help by command print 'help _command_')"

    def do_add_key_for_support(self, args):
        """add_key_for_support - You are granting access for technical support of Corezoid Team."""
        os.system("sudo /usr/local/bin/add_support_access add_key")

    def do_del_key_of_support(self, args):
        """del_key_of_support - You are revoking access from technical support."""
        os.system("sudo /usr/local/bin/add_support_access del_key")

    def do_show_top(self, args):
        """show_top - It equals top linux command"""
        os.system("top")

    def do_show_mem(self, args):
        """show_mem - Memory usage"""
        os.system("free")

    def do_show_disk(self, args):
        """show_disk - Disk usage"""
        os.system("df -h")

    def do_dmesg(self, args):
        """dmesg - It equals dmesg linux command"""
        os.system("dmesg")

    def do_version (self, args):
        """version - Show versions components"""
        os.system("rpm -qa | grep prolog | sort")

    def default(self, line):
        print "This command does not exist."

    def emptyline(self):
        pass

if __name__ == "__main__":
    cli = Cli()
    try:
        cli.cmdloop()
    except KeyboardInterrupt:
        print "exit..."