# /etc/logrotate.d/atop - managed by Ansible
{{ atop_log_path }}/atop_* {
    rotate {{ atop_log_generations }}
    daily
    missingok
    notifempty
    compress
    nodelaycompress
    nocreate
    sharedscripts
    postrotate
        systemctl -q is-active atop && systemctl restart atop || true
    endscript
}
