[Unit]
Description=Corezoid Config Agent Server
After=network.target

[Service]
Type=forking
PermissionsStartOnly=true

User=app-user
Group=app-user

ExecStartPre=/bin/mkdir -p /var/run/conf_agent_server
ExecStartPre=/bin/chown app-user:app-user /var/run/conf_agent_server

Environment=CONFIG_PATH=/ebsmnt/conf/conf_agent_server.config
Environment=HOME=/ebsmnt/erlang/conf_agent_server

ExecStart=/ebsmnt/erlang/conf_agent_server/bin/conf_agent_server start
ExecStartPost=/bin/sh -c 'echo $MAINPID > /var/run/conf_agent_server/conf_agent_server.pid'

ExecStop=/ebsmnt/erlang/conf_agent_server/bin/conf_agent_server stop

ExecStopPost=/bin/sh -c 'rm -fr /var/run/conf_agent_server/conf_agent_server.pid'

Restart=always

[Install]
WantedBy=multi-user.target
