#!/bin/bash

WHICH="/usr/bin/which"
CURL=$($WHICH curl)
GREP=$($WHICH grep)
DATE=$($WHICH date)
AWK=$($WHICH awk)

# TODAY=$(${DATE} -d "today" '+%Y.%m.%d')
DOMAIN="localhost"
PORT=9200

INDEX_TEMPLATE="binlogcp-"

NEXT_HOUR=$(${DATE} --date="1 hours" +"%Y-%m-%d-%H")
#NEXT_HOUR=$(${DATE} +"%Y-%m-%d-%H")

INDEX_NAME="${INDEX_TEMPLATE}${NEXT_HOUR}"


INDEX_PRESENT=$(${CURL} -s 'localhost:9200/_cat/indices?v'  | ${GREP} open | ${GREP} -c ${INDEX_NAME})

if [ ${INDEX_PRESENT} -eq 0 ];
then
        ${CURL} -XPUT "http://${DOMAIN}:${PORT}/${INDEX_NAME}"

        ${CURL} -H 'Content-Type: application/json' -XPUT -d '
{
  "logs" : {
    "properties" :
      {
        "@timestamp" : {
          "type" : "date",
          "format" : "strict_date_optional_time||epoch_millis||yyyy-MM-dd"
        },
        "message" : {
          "properties" : {
            "conv_id" : {
              "type" : "integer"
            },
            "diff_time" : {
              "type" : "double"
            },
            "method" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "ref_id" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "request_body" : {
              "type" : "string"
            },
            "request_body_size" : {
              "type" : "integer"
            },
            "request_header" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "request_time" : {
              "type" : "date",
              "format" : "date_hour_minute_second_millis||epoch_millis||yyyy-MM-dd HH:mm:ss.SSS"
            },
            "response_body" : {
              "type" : "string"
            },
            "domain" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "__type" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "__obj" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "response_body_size" : {
              "type" : "integer"
            },
            "response_code" : {
              "type" : "integer"
            },
            "response_header" : {
              "type" : "string"
            },
            "response_time" : {
              "type" : "date",
              "format" : "date_hour_minute_second_millis||epoch_millis||yyyy-MM-dd HH:mm:ss.SSS"
            },
            "task_id" : {
              "type" : "string",
              "index": "not_analyzed"
            },
            "url" : {
              "type" : "string"
            }
          }
        }
     }
  }
}
' http://${DOMAIN}:${PORT}/${INDEX_NAME}/logs/_mapping

fi

#______________________DELETE OLD INDEX_________________________#

NEXT_HOUR=$(${DATE} --date="20 hours ago" +"%Y-%m-%d-%H")

INDEX_NAME="${INDEX_TEMPLATE}${NEXT_HOUR}"

${CURL} -XDELETE http://${DOMAIN}:${PORT}/${INDEX_NAME}/
#______________________DELETE OLD INDEX_________________________#

