#!/bin/bash

REMOTE_ACCOUNT="{{ marketplace_data.middleware_account_id }}"
{% if marketplace_data.cloud == "Amazon" %}
LOCAL_ACCOUNT=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document/ | jq -r .accountId)
{% elif marketplace_data.cloud == "Google" %}
LOCAL_ACCOUNT=$(curl http://metadata.google.internal/computeMetadata/v1/project/numeric-project-id -H "Metadata-Flavor: Google")
{% elif marketplace_data.cloud == "AliBaba" %}
LOCAL_ACCOUNT=$(curl http://100.100.100.200/latest/meta-data/owner-account-id)
{% elif marketplace_data.cloud == "DigitalCloud" %}
LOCAL_ACCOUNT=$(curl http://169.254.169.254/metadata/v1/id)
{% elif marketplace_data.cloud == "VMWare" %}
LOCAL_ACCOUNT=$(pwgen -n 20 -s 1)
{% elif marketplace_data.cloud == "Azure" %}
LOCAL_ACCOUNT=$(curl -s -H Metadata:true "http://169.254.169.254/metadata/instance?api-version=2019-11-01" | jq -r .compute.subscriptionId | sed 's/"//g')
{% endif%}
AUTH_KEYS="/home/support/.ssh/authorized_keys"

KEY_NAME="/tmp/support"
KEY_NAME_PUB="/tmp/support.pub"
KEY_PASS="${REMOTE_ACCOUNT}${LOCAL_ACCOUNT}"

add_key(){
	if [ -f "${KEY_NAME}" ];
		then
		  rm -f "${KEY_NAME}"
	fi

	ssh-keygen -b 2048 -t rsa -f "${KEY_NAME}" -q -N "${KEY_PASS}"

	if [ ! -f "${AUTH_KEYS}" ];
		then
		  touch ${AUTH_KEYS}
		  chown support:support ${AUTH_KEYS}
		  chmod 644 ${AUTH_KEYS}
	fi

	cp ${KEY_NAME_PUB} ${AUTH_KEYS} || { echo "Something went wrong..."; exit 1; }
	cat /tmp/support
	echo
	echo "ID: "${LOCAL_ACCOUNT}
	echo
	echo "Please send this key and your ID to Middleware Support Team"
	echo "You can revoke access at anytime using command del_key_of_support"
}

del_key(){
	if [ -f "${AUTH_KEYS}" ];
	then
		rm -f ${AUTH_KEYS}
		echo "Done."
	fi
}

case $1 in
add_key)
	add_key
	;;
del_key)
	del_key
	;;
*)
	echo "Usage: ${0} add_key | del_key"
esac