[mongodb-org-{{ mongodb_version }}]
baseurl = https://repo.mongodb.org/yum/redhat/{{ aws_centos_distribution_major_version }}/mongodb-org/{{ mongodb_version }}/x86_64/
gpgcheck = 1
gpgkey = https://www.mongodb.org/static/pgp/server-{{ mongodb_version }}.asc
name = MongoDB Repository
