{
    "name": "{{ item }}",
    "server": {
        "host": "0.0.0.0",
        "port": {{ gitcall_git_code_hub_service_port }}
    },
    "github-service": {
        "git": "/bin/git",
        "accessToken": "{{ git_call_github_accessToken }}",
        "apiTimeoutMs": 30000,
        "cloneTimeoutMs": 60000
    },
    "logger": {
        "level": "warn",
        "transports": [ "dailyRotateFile" ],
        "path": "{{ top_dir }}/logs/{{ item }}/log",
        "datePattern": "YYYY-MM-DD",
        "maxSizeInMb": 100,
        "maxFiles": 10
    }
}