{
    "name": "{{ item }}",
    "server": {
        "host": "0.0.0.0",
        "port": {{ gitcall_js_code_hub_service_port }}
    },
    "build-service": {
        "buildTimeoutMs": 600000,
        "docker": {
            "host": "{{ git_call_hosts.docker }}",
            "port": 2375
        }
    },
    "mount-point-service": {
        "devices": ["/mnt"]
    },
    "database": {
        "host": "{{ db_main.host }}",
        "port": 5432,
        "database": "git_call",
        "user": "{{ db_main.user }}",
        "password": "{{ db_main.pass }}",
        "ssl": false,
        "pool": {
            "size": 1,
            "maxSize": 20
        },
        "idleTimeoutMillis": 5000,
        "connectionTimeoutMillis": 10000
    },
    "git-code-hub-service": {
        "service": {
            "host": "{{ git_call_hosts.git_code_hub_service }}",
            "port": {{ gitcall_git_code_hub_service_port }}
        },
        "timeoutMs": 120000
    },
    "logger": {
        "level": "warn",
        "transports": [ "dailyRotateFile" ],
        "path": "{{ top_dir }}/logs/{{ item }}/log",
        "datePattern": "YYYY-MM-DD",
        "maxSizeInMb": 100,
        "maxFiles": 10
    },
    "rabbit": {
        "common": {
            "persistent": false,
            "mandatory": false,
            "heartbeat": 10,
            "connectionTimeoutMs": 30000,
            "queueMaxLength": 1000
        },
        "listeners": [
            {
                "hostname": "{{ rmq_http[0].host }}",
                "port": {{ rmq_port }},
                "username": "{{ rmq_user }}",
                "password": "{{ rmq_user_pass }}",
                "vhost": "{{ rmq_vhost }}",
                "exchange": "git_call",
                "prefetch": 10,
                "amountOfBuildDepQueues": 1,
                "amountOfRemoveDepQueues": 1,
                "amountOfGetDepQueues": 1
            }
        ]
    }
}
