{
    "name": "{{ item }}",
    "js-code-hub-service": {
        "service": {
            "host": "{{ git_call_hosts.js_code_hub_service }}",
            "port": {{ gitcall_js_code_hub_service_port }}
        },
        "timeoutMs": 100000
    },
    "worker": {
        "maxOldSpaceSize": 512
    },
    "worker-pool-service": {
        "min": 4,
        "max": 10,
        "acquireTimeoutMs": 20000,
        "maxWaitingClients": 500,
        "testOnBorrow": true
    },
    "script-storage-service": {
        "host": "{{ db_main.host }}",
        "port": 5432,
        "database": "git_call",
        "user": "{{ db_main.user }}",
        "password": "{{ db_main.pass }}",
        "ssl": false,
        "pool": {
            "size": 1,
            "maxSize": 20
        },
        "idleTimeoutMillis": 5000,
        "connectionTimeoutMillis": 10000
    },
    "logger": {
        "level": "warn",
        "transports": [ "dailyRotateFile" ],
        "path": "{{ top_dir }}/logs/{{ item }}/log/",
        "datePattern": "YYYY-MM-DD",
        "maxSizeInMb": 100,
        "maxFiles": 10
    },
    "rabbit": {
        "common": {
            "persistent": false,
            "mandatory": false,
            "heartbeat": 10,
            "connectionTimeoutMs": 30000,
            "queueMaxLength": 1000
        },
        "listeners": [
            {
                "hostname": "{{ rmq_http[0].host }}",
                "port": {{ rmq_port }},
                "username": "{{ rmq_user }}",
                "password": "{{ rmq_user_pass }}",
                "vhost": "{{ rmq_vhost }}",
                "exchange": "git_call",
                "prefetch": 50,
                "amountOfGetScriptQueues": 1,
                "amountOfRemoveScriptQueues": 1,
                "amountOfValidateScriptQueues": 1,
                "amountOfCompileScriptQueues": 1,
                "amountOfRunScriptQueues": 10
            }
        ]
    }
}