[defaults]
roles_path          = roles
#ask_sudo_pass = True
remote_user = ec2-user

[ssh_connection]
#ssh_args = -F ssh.cfg
#control_path = ~/.ssh/mux-%r@%h:%p

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o PubkeyAuthentication=no -o PreferredAuthentications=password -o PasswordAuthentication=yes
