-----BEGIN CERTIFICATE-----
MIIEkzCCAnugAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwXTELMAkGA1UEBhMCVVMx
EzARBgNVBAcMCldpbG1pbmd0b24xGDAWBgNVBAoMD01pZGRsZXdhcmUgSW5jLjEf
MB0GA1UEAwwWTUlERExFV0FSRSBJTkMgUk9PVCBDQTAeFw0xNTA3MTUxODI4Mjla
Fw0yNTA3MTIxODI4MjlaMD8xCzAJBgNVBAYTAlVTMRgwFgYDVQQKDA9NaWRkbGV3
YXJlIEluYy4xFjAUBgNVBAMMDWNvcmV6b2lkLWRlbW8wggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQCsHquJYDLSB6FInFpHyMbDM8Cwn/DaLDmOq28zLQrh
/7WlVKD79bUlmG7Uv01X66h51SBK4D/FZHGdRPNgYqhFAitYtpjz8B9gjAzBz10x
7UN03znUUaQhdaycZCNOYOkAK6XwUbjHeZNKwaN/0+plsuZ9fIh1fbAebdjIIOsx
T6eHZnBqCC05biaWnphNCVHTl7xqxv8+KIm/xYL5bsNtocmiksFbgclhEo4T5r0h
Uvp4jM9xRw/mZajum3PLTAVaYEwsUf9fa8FDf9bPfDHqNebacSmDhYokv8FGrK+O
R38Du/x0j3P8hL0zcJvpzxuMBN4tYgnijqOGKOIMgF6JAgMBAAGjezB5MAkGA1Ud
EwQCMAAwLAYJYIZIAYb4QgENBB8WHU9wZW5TU0wgR2VuZXJhdGVkIENlcnRpZmlj
YXRlMB0GA1UdDgQWBBRfEdu/tUp7EiciU7AdzaKJTz0LgzAfBgNVHSMEGDAWgBRM
812s3lo2mgn8mS46tLpUc7lcmTANBgkqhkiG9w0BAQsFAAOCAgEASfAIcTxhp+8w
w655TyE3snusyme4bgJS0RiniIoRGvGeOp/KFKyOB6o6v4GdeicWh1RqtT6nsoYO
PALFNftzVS//BEcF8ZADV73P9YXqEkiDNZlDdPcq16eyTdrqtgXQXYyLn1V5jiNg
UuMSYLjlVRmsaWcTMYeNaJTl9ESmJhWSQaeLIsJNLZ9RXvlyP2bcYScxviYegDAr
zlo9U+8YZvVBcPBEw/MQn7ojGM0p9mIbBcUwWEsnsGo8WDe8lRiA5T6fz7fDezBZ
WrKwwQzYzJUKBy9XxBhdx1I3xlAECd45yDRjKEsaUbHBumUc29W5ugxFNDKReUWX
tw7pkXFh8TjGjhc1QNDhus1IoWJTmJczG5aMtaH8bFzeoIXEt1+fmSsDBLtpxvnI
7OwjPqTGEh7hlJv+O/aUntOVgVxFGVxF4SnGlNF8YBfUzOaIwMnkUvlePX1wGnlu
cwWITCEx4jdprfENULUiiOo2PCM5czd7aKRHojTm6NoJa+tsSeu344oD1nWBkVnO
mkPZlUezl2j/APtfhUIaess1EqCXhavkQ9rivrVkePdbFhvz4YsT4eSJJApQxsQa
sN5ptsy96r4+xVfgukJBtFpsQfos2BCpqL35Az3EWpqnzTJ6a2w6eDCCDux0YhSJ
jZVMhMUg4rJIPQMmPgSEzqmWYmgCZvc=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIFjTCCA3WgAwIBAgIJAMHqjnqm2eghMA0GCSqGSIb3DQEBCwUAMF0xCzAJBgNV
BAYTAlVTMRMwEQYDVQQHDApXaWxtaW5ndG9uMRgwFgYDVQQKDA9NaWRkbGV3YXJl
IEluYy4xHzAdBgNVBAMMFk1JRERMRVdBUkUgSU5DIFJPT1QgQ0EwHhcNMTUwNzE1
MTgxNzMzWhcNMzUwNzEwMTgxNzMzWjBdMQswCQYDVQQGEwJVUzETMBEGA1UEBwwK
V2lsbWluZ3RvbjEYMBYGA1UECgwPTWlkZGxld2FyZSBJbmMuMR8wHQYDVQQDDBZN
SURETEVXQVJFIElOQyBST09UIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
CgKCAgEAxguLSVmJZHbe4V1QdtVmFbZjKjXQ/1Jko8vcNSPYzuG6HDvoU+w38Ltb
oiS87f2naZUAD9d0AcL+Y9e6JfWLMhClON2XuTF1atrx6Y5bP0to/fnyM5M4DC0c
o/uoC/PDmAM7nbm3ChMYUOWzPxi3TCusgA1ShsT1AQM5mgAG/ciYRIT613l4qXYO
BUVRLTf03q6vPZaz7WZNJaNRLHcge4dxoSHLkaDedrfZ6UCDkbJfjCXuQxNF3jqt
pEbJ2YACEcTlBg75u01JmkjxEeUdj6kKSrWje4U1XIs07ZMHABrBa7dnHR0PYgqh
/TsMCwgHHS3mk8rpyZZq67OC0uMX0UVpDFpcr1jKAlf3FueiaiufOOAEJBf7VVW2
abZtm3eXV9RhF+pLy8o7iE2L8Oa9UROsojvB83guecgSgJh0sdKo0DlkbVQNxaYI
HgFz+ZnM4eOoEUV6g6208wMftmeBZVKnsGG2UKtgeGFPWtpwJbqGcVPkpNTb11Xf
h0ODQQ1Xhu0IkLQ5v3yR1SRdyNKPBH0gWKLAakhpDmdmrvVn/SSFAHeDYbSwNBkY
Mghuiq0jHfOvLdg0feMJl4TOsidCvcZCkpDIq3f4kLcWZw/xOZAOqYnlBEdCqABB
9RqI78ft6iW7BSmt0zmIs2pE2+WTWY4VYTje2wAle6KB9WBZQZsCAwEAAaNQME4w
HQYDVR0OBBYEFEzzXazeWjaaCfyZLjq0ulRzuVyZMB8GA1UdIwQYMBaAFEzzXaze
WjaaCfyZLjq0ulRzuVyZMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIB
AI0cL5jwPYhw4gIfNPUayM6gXOKfqh3eSCjH/tyaF4gRBTHuGvk7Z49P+RI0u1AW
unbSCwhOw5XHvp+ov6vxaa74Ws0HoKFPvNw3u64Bn0wpMeLZ5Qx+iZTXWcPIRggm
dDCaLpk5NTZ7U4DxQxZvya1oOP6vAFoZkRiQJ/i+7Ej317VD8ioLsC7M5N+bgpn8
j+ftcStXEhFE2xeTgY/fWIR60xZ9BvEo+b6M/8qE02PAsbT17e79aQdvmFw3/RA7
w0p5cUpaD/S+eXlXTn5pB2GSp5pHCFKbj5wYapYejHsC2vf/f6otg5bmj0fgLLgb
j4oz7OfPAvO2lqmTiWicVprAGqpBFAwAfSaRyXeL1hQtNQBukEajmg7uGSNH0W8Q
QiVtifLhjo9RlbgJ4GQXor4Zxkv6TJgCj9TkV5HX2Nx0T3XtPomQfv6+XPHE69KF
Z8mpZSO0FwTfnmhdY6q6dbuOf7K+mNwHPmCtxpbgYJVWMhxHEQDcU1nVwzZBf+o/
gTomkFLffTH5vqZnwXmvQJj49rIspJ9xVToqgGTde6oYQY2zrWLNM0jwUD/A2yy6
SEBSoniqz/ioIk6JdTxjdXkiieVn9TzbZeAqGuo7rTl8ZtIBJucjMXqAWqe4v9yu
wqcgGiaIhCvX7gTMkPtgVVf7Vel9wwNwqNh/zCPLXb3m
-----END CERTIFICATE-----
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCsHquJYDLSB6FI
nFpHyMbDM8Cwn/DaLDmOq28zLQrh/7WlVKD79bUlmG7Uv01X66h51SBK4D/FZHGd
RPNgYqhFAitYtpjz8B9gjAzBz10x7UN03znUUaQhdaycZCNOYOkAK6XwUbjHeZNK
waN/0+plsuZ9fIh1fbAebdjIIOsxT6eHZnBqCC05biaWnphNCVHTl7xqxv8+KIm/
xYL5bsNtocmiksFbgclhEo4T5r0hUvp4jM9xRw/mZajum3PLTAVaYEwsUf9fa8FD
f9bPfDHqNebacSmDhYokv8FGrK+OR38Du/x0j3P8hL0zcJvpzxuMBN4tYgnijqOG
KOIMgF6JAgMBAAECggEACnHeBPsiel5eKjLaw6pqbWQRmGZMTmEKqR68I8Xi+C31
TvAgyMlzUbG7YAuv3Nr/IU2OpRyQoiDjSCDsB/hUr8Ne8AY8p+j1bn1xNL2psSLt
ygTV1I2TwTgL3n2xKst0uD7t1fSPmwNEre+sRVCN09gUZp8NBNw4uM//rL1aqGZM
kA4inEiB6W2jVaeNdJmMttQoKlus3XHpOzto8hkGgVwJrbLT3cyFnrAg4e+eA2Xq
zyxAzsJSIzxO4OOcVr93wavqA58nsF5HymXXUqxT/I26jjaybz9p8WuIgvYF4SiB
Ea9PtttaoPH8vtszfE58PRz126Ggra66FnnXEFa1gQKBgQDWBw5f3ny83GFIFhmS
ZhGlBAv7wr/RDYyHjku1zcjp6/hSIyFcjflQaN8L14KWbFYzKuhuwuXWaWuFLOWn
3DFZ4m0xYVTXZlWuux+sACtyQpxAj1qNxEK0f2RwxRrz6Gqn7slNgNyEQ/LaaWfl
Kw9TL1/4qym3h1K7RJTfMgSGuQKBgQDN37ITWbbwyTiXe6J/W90Bbt7KV9VHesc4
xRl+BuT1OalFb1FdjZar329WEueZJ/T59O+gqg8H0rB+LxudkH4W1DaVtJPDIrxU
iGY8agTxSqsFwgcupK+bmEJHZeuKIrdMOSnzn8GEZY6fd9Y5xR+ot7cM/mxQFV3H
3WxCkYCuUQKBgCWCqxRGTBpVjX8y0FyGIwWGxgrjwPaEp2KCn+ZHILVOtADBQ3GT
OGTNXHoY1TxD1H+3P3FaGyoO49c9XSqkPsoAEx8abeIqf03WYeClTvgBkJ0IAtjh
0scLpLDW+rhQvZCdGw7ITN2pgwCghKL3fwIXRXyxkuglgWxswqKzg3ORAoGBAL/W
m+x2JAd5qfdWaNR+uJFWS9qHQCGsYiofWCLcr8tm4LnoAgzIHEeqG+g8E33fAuNM
f2LaNMlYZcgfg38unqANPZQAwdQK8S1gMMxJCrQBnR3vcJvhMBYwKkq3yWVd9inb
9qCjFEOYEu+8Tm5kppykHLnJ9wok7s+IIBJj3WIRAoGAHGDrI+tBosEdjdqWgm7/
yMcP0s0evkxc9EF0Ezj3yeLwuUjM+R0zgf0vuhjm5E/pgrWfCCDDD77wJGyI5E7k
3iDiF5OLiX+QiOAQS4xRIQfhLQFMQ8gzwT7N3bTv3p8xtT7FwOeBR825c12uC7jm
saW4n2ALPtm70cJFcWs88Ls=
-----END PRIVATE KEY-----
