server {
    listen 80;
    server_name default_server;

    large_client_header_buffers     4 16k;
    client_body_buffer_size 16k;
    client_max_body_size 16m;

    #set $static_root    "/ebsmnt/www/capi-js";
    set $admin_root    "/ebsmnt/www/admin";
    set $static_local    "/ebsmnt/www/static";

    location /avatars {
      add_header      Content-Type image/jpeg;
      error_page  404  =200   /avatars/0.jpg;
      root $static_local;
    }

    location = /favicon.ico { return 200; }

    location / {
           root $admin_root;
           try_files $uri /index.html;
    }

    location ~ ^/editor {
            root $admin_root;
            try_files $uri /editor.html;
    }

    location ~^/dashboard {
            root $admin_root;
            try_files $uri /dashboard.html;
    }
}
