check process elasticsearch with pidfile /var/run/elasticsearch/elasticsearch.pid
  start program = "/bin/systemctl start elasticsearch"
  stop program = "/bin/systemctl stop elasticsearch"
  if cpu > 90% for 15 cycles then alert
  if memory > 90% for 15 cycles then restart
  if failed port 9200 protocol http for 3 cycles then restart