server {
    listen       443;
    server_name {{ domain }};
    include ssl.conf;

    access_log  /var/log/nginx/{{ domain }}-access.log  up_log;

    location ~ /(prolog|ide|callback|ws|demo|api|remote|trace) {
        proxy_pass http://prolog-openapi;
        proxy_redirect off;
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  Host $http_host;
        proxy_read_timeout      180s;
        proxy_send_timeout      180s;
        proxy_buffering off;
        }

}


server {
    listen 80;
    server_name {{ domain }};
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
    return 301 https://{{ domain }};
}